@charset "utf-8";

html,body{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	background:#fff;
}
button{
	border:0;
}
b,strong{
	font-weight:normal!important;
}
/*头部*/
.header{
	background:#8dd652;
}
.main_con{
	position:relative;
	width:100%;
	height:55%;
}
.main_con .handle{
	position:absolute;
	left:50%;
	top:50%;
	width:18rem;
	height:18rem;
	text-align:center;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	border-radius:50%;
}
.main_con .state{
	position:absolute;
	display:block;
	left:50%;
	top:76%;
	height:3rem;
	line-height:3rem;
	text-align:center;
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);
	transform: translate(-50%);
}

.main_con .handle .handle_icon{
	display:block;
	width:100%;
	height:100%;
	background:url(../fonts/icon_load.png) no-repeat center center;
	background-size:100% auto;
}
.main_con .handle i{
	position:absolute;
	left:50%;
	top:50%;
	display:block;
	width:16rem;
	height:16rem;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	background:url(../fonts/icon_socket.png) no-repeat center center;
	background-size:15.8rem auto;
}
@keyframes loading {
	form{transform: scale(1);-webkit-transform: scale(1);}
	to{transform: scale(0.88);-webkit-transform: scale(0.88);}
}
.main_con .handle .handle_icon.scale{
	-webkit-animation: loading 0.6s linear infinite alternate;
	animation: loading 0.6s linear infinite alternate;
}
.main_con .handle_btn{
	position:absolute;
	left:50%;
	bottom:0;
	width:15rem;
	height:4.4rem;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	background:#8dd652 url(../fonts/icon_switch.png) no-repeat center center;
	background-size:2.2rem auto;
	border-radius:4.4rem;
}
.main_con .handle_btn.handle_color{
	background:#cbd1d9 url(../fonts/icon_switch.png) no-repeat center center;
	background-size:2.2rem auto;
}

.bottom_etc{
	position:fixed;
	left:0;
	bottom:0;
	box-sizing: border-box;
	width:100%;
	height:16.5rem;
	padding:2.1rem 2.9rem;
	background:#fafafa;
}
.handle-data{
	width:100%;
	overflow:hidden;
}
.handle-data li{
	width:100%;
	height:6.1rem;
	line-height:6.1rem;
	font-size:1.6rem;
	color:#333333;
	border-bottom:1px solid #ebebeb;
}
.handle-data li:last-child{
	border:0;
}
.handle-data li span{
	float:right;
	width:9rem;
	height:6.1rem;
	line-height:6.1rem;
	font-size:2.2rem;
}
.handle-data li span em{
	font-size:1.6rem;
}

