@charset "utf-8";

.content{
    position: absolute;
    width:100%;
    height:calc(100% - 6.4rem);
    overflow:hidden;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

/*绑定场景*/
.binding{
	/*margin-top:6.4rem;*/
	width:100%;
	overflow:hidden;
}
.binding article,.binding nav li{
	box-sizing: border-box;
	padding:0 4%;
	font-size:1.6rem;
	color:#000000;
}
.binding article i,.binding nav li i{
	display:none;
	float:right;
	width:2.2rem;
	height:4.4rem;
	background:url(../fonts/icon_5.png) no-repeat right center;
	background-size: 2.2rem auto;
}
.binding article{
	width:100%;
	height:4.4rem;
	line-height:4.4rem;
	border-bottom:1px solid #d9d9d9;
	background:#fff;
}
.binding nav{
	overflow:hidden;
	background:#fff;
}
.binding nav li{
	width:100%;
	height:4.4rem;
	line-height:4.4rem;
	border-bottom:1px solid #d9d9d9;
}
.binding nav li em{
	display:block;
	float:left;
	width:3.6rem;
	height:4.4rem;
	background:url(../fonts/scene_normal_01.png) no-repeat left center;
	background-size:2.6rem auto;
}

.binding nav li i{
	display:none;
}
.binding nav li[binded = on] i{
	display:block;
}

.binding article i {
	display: none;
	border: 0;
}

.binding article[binded = on] i {
	display: block;
	border: 0;
}

.emptyView{
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    display: none;
}

.emptyView span{
    margin-top: 2rem;
    display:block;
    width: auto;
    /*text-align:center;*/
    line-height:4.2rem;
    color:#999;
    font-size:1.4rem;
}

.emptyView img{
    display:inline-block;
    width:9rem;
    height:auto;
}
