*/bin/*
*/build/*
*/gen/*
.git/*
.idea
.captures
*~
local.properties
*.classpath
*.project
*.smarthomeSDK.jar
/eHomeHD/fabric.properties
/eHomeHD/kit-libs/*
*.prefs
/eHomeHD/assets/crashlytics-build.properties
/eHomeHD/res/values/com_crashlytics_export_strings.xml
/WLCameraA/lint.xml
*.swp
/result.txt
*.log
/eHomeHD/release.xml
/html5Plus/lint.xml
.gradle
gradle
build
*.iml
/IOTCamera/res/values/com_crashlytics_export_strings.xml
/build.gradle
