@charset "utf-8";
* {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body,
button,
select,
textarea,
input,
label,
option,
fieldset,
legend {
	font-family: "微软雅黑", Tahoma, Verdana;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

textarea {
	resize: none
}

textarea,
input {
	outline: none;
}

.clear {
	height: 1px;
	overflow: hidden;
	clear: both;
}

a,
img,
div {
	border: 0;
}

a {
	color: #666;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent
}

li {
	list-style-type: none;
}

i,
em {
	font-style: normal;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.ds {
	display: block;
}

.hid {
	overflow: hidden;
}

.clearfix {
	*zoom: 1
}

.clearfix:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: '.';
	font-size: 0
}

button {
	outline: none;
}

html {
	background: #f1f4f8;
	font-size: 1.2rem;
}


/*@media (max-width: 1650px) {
	html,body {
		background:pink;
		max-width:1650px;
		font-size:0.6rem;	
	}
}*/


/*公用头部*/

header {
	width: 100%;
	background: #8dd652;
	overflow: hidden;
}

.shadow {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.3);
	top: 6.4rem
}

.header_top {
	padding-top: 2rem;
	width: 100%;
	height: 4.4rem;
}

.header_top a {
	display: block;
	float: left;
	width: 13.7%;
	height: 4.4rem;
}

.header_top a:nth-child(2) {
	width: 72.6%;
	text-align: center;
	line-height: 4.4rem;
	font-size: 1.6rem;
	color: #fff;
	-webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

.header_top a:first-child {
	background: url(../fonts/icon_back.png) no-repeat center center;
	background-size: 2.2rem auto;
}

.header_top a:nth-child(3) {
	text-align: center;
	line-height: 4.4rem;
	font-size: 1.4rem;
	color: #fff;
}

.header_top a.more {
	background: url(../fonts/icon_more.png) no-repeat center center;
	background-size: 1.8rem auto;
}

.header_top a.add {
	background: url(../fonts/icon_add.png) no-repeat center center;
	background-size: 1.8rem auto;
}

.header_top .complete {
	font-size: 1.4rem;
	background: none;
}

