body {
    background-color: #f1f4f8;
}

header {
    width: 100%;
    height: 6.4rem;
    padding-top: 2rem;
    background-color: #8dd652;
}

.mainTop {
    width:100%;
    height:4.4rem;
    margin-top: 3rem;
    padding:0 4%;
    line-height:4.4rem;
    font-size:1.4rem;
    background-color: white;
}
.switch {
    position:relative;
    float:right;
    width:4.4rem;
    height:2.2rem;
    padding:0.5rem;
    margin:0.75rem 0;
    background:#aaa;
    border-radius:1.5rem;
}
.switch i{
    position:absolute;
    left:10%;
    top:20%;
    display:block;
    width:1.5rem;
    height:1.5rem;
    background:#fff;
    border-radius:50%;
}
.mainTop .switch i.open{
    left:60%;
}

.mainBottom {
    position:relative;
    width:100%;
    height:4.4rem;
    margin-top: 0.1rem;
    padding:0 4%;
    line-height:4.4rem;
    font-size:1.4rem;
    background-color: white;
}
.currentTemp {
    display: inline-block;
    position: absolute;
    color: #999999;
    right: 4.5rem;
}
.iconRight {
    display: inline-block;
    position: absolute;
    top: 30%;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    background:url(../fonts/icon_right.png) no-repeat center center;
    background-size: 100% auto;
}

/*重命名弹框*/
.alert{
    display:block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4)
}
.nameToast{
    position:absolute;
    left:12%;
    top:50%;
    width:76%;
    /*height:14rem;*/
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    transform:translateY(-50%);
    background:#fff;
    border-radius:8px;
    overflow:hidden;
}
.nameToast span{
    display:block;
    width:100%;
    height:5.3rem;
    line-height:5.3rem;
    text-align:center;
    font-size:1.7rem;
    color:#555;
}
.nameToast .name{
    margin:0 5%;
    width:90%;
    background:#f2f2f2;
    border-radius:5px;
    overflow:hidden;
}
.msg{
    display:block;
    float:left;
    padding-left:5%;
    width:85%;
    height:6rem;
    line-height:2rem;
    border:0;
    font-size:1.4rem;
    text-align: center;
}
.nameToast .choose_1{
    margin-top: 6rem;
    border-top: 1px solid #d9d9d9;
}
.nameToast .choose_1 a{
    display:block;
    box-sizing: border-box;
    float:left;
    width:50%;
    height:4.5rem;
    line-height:4.5rem;
    text-align:center;
    border-right:1px solid #d9d9d9;
    font-size:1.5rem;
    color:#555;
}
.nameToast .choose_1 em:last-child{
    border-right:0;
}

/*************************************************************************************************************/
/*************************************************************************************************************/

.mui-poppicker-body{
    height:120px;
}

.mui-backdrop{
    background-color:transparent;
}
/* 选择器头部颜色 */
.mui-poppicker-header{
    background-color: #f7f7f7;
}
.mui-btn {
    background: transparent;
    border: none;
    color: #8dd652;
}
.mui-picker{
    background:#fff;
}