.mainView {
    width: 100%;
    height: 11rem;
    margin-top: 12rem;
    text-align: center;
}

.mainTime {
    display: inline-block;
    position: relative;
    width: 80%;
}

.mainTime {
    font-size: 11rem;
}

.tips {
    display: block;
}
.tips p {
    font-size: 2rem;
    color: #999999;
}

.toast {
    display: none;
    position: absolute;
    width: 50%;
    left: 25%;
    background: rgba(0, 0, 0, 0.7);
    margin-top: 12rem;
    padding: 1rem;
    text-align: center;
    overflow: hidden;
    border-radius: 4px;
}
.toast p{
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.4rem;
    color: #fff;
}

.bottomView {
    text-align: center;
    width: 90%;
    left: 5%;
    overflow: hidden;
    position: absolute;
    bottom: 2rem;
}
.bottomView div {
    display: block;
    float: left;
    width: 33.333333%;
    height: 10rem;
    text-align: center;
}

.btnLeft {
    display: block;
    float: left;
    height: 8rem;
    text-align: center;
}
.btnRight {
    display: block;
    float: right;
    height: 8rem;
    text-align: center;
}

.bottomView i {
    display: inline-block;
    width: 8rem;
    height: 8rem;
    font-size: 1.4rem;
    text-align: center;
    line-height: 8rem;
}

.bottomButtonState1 {
    background: url(../fonts/icon_state_1.png) no-repeat center center;
    background-size: 80% auto;
    color: #8CD352;
}
.bottomButtonState2 {
    background: url(../fonts/icon_state_2.png) no-repeat center center;
    background-size: 80% auto;
    color: #FAFAFA;
}
.bottomButtonState3 {
    background: url(../fonts/icon_state_3.png) no-repeat center center;
    background-size: 80% auto;
    color: #F7822C;
}


/*中部滑动区域---start*/
.num_scroll_show{
    display: none;
    margin-top: -6rem;
    width: 100%;
    text-align: center;
    height: 22rem;
}
.num_scroll_show div{
    margin:0px;
    text-align:center;
    height:7rem;
    display:block;
    width: 100%;
    position:absolute
}
.num_scroll_show p{
    display: inline;
    height:100%;
    font-size: 8rem;
    text-align: center;
    line-height:7rem;
    overflow:hidden;
}
/*中部滑动区域---end*/
.num_scroll_Unit{
    display:inline-block;
    position:absolute;
    top: 22rem;
    right: 8rem;
    width:4.0rem;
    height:4.0rem;

    font-size: 3rem;
    /*background:url(../img/sensor_doorbell_normal.png) no-repeat center center;*/
    /*background-size: 100% auto;*/
}