
.Top-section-title{
    margin-left: 1rem;
    height:2rem;
    line-height: 2rem;
}
/* TopList --start*/
.Top-list{
    background:#efeff4;
}

.Top-list div{
    margin-right: 0.3%;
    margin-bottom: 0.3%;
    height: 8.5rem;
}
/*section1*/
.Top-list div div{
    width: 24.7%;
    float: left;
    height: 4rem;
    text-align: center;
    line-height: 4rem;
    background: white;

}
/*row1*/
.Top-list div div:nth-child(1){
    height: 8rem;
    text-align: center;
}

.Top-list div div:nth-child(1) i{
    display:block;
    margin-top:2rem;
    margin-left: 46%;
    height: 2rem;
    width: 2rem;
    background:url(../img/book_icon.png) no-repeat center center;
    background-size: 100% auto;
}
.Top-list div div:nth-child(1) span{
    width: 100%;
    height: 2rem;
    background:white;
}
/* TopList --end*/
/* Middle-list --start*/
.Middle-list{
}
.Middle-list div{
    margin-right: 0.3%;
    margin-bottom: 0.3%;
    height: 8rem;
    width: 24.7%;
    float: left;
    text-align: center;
    background: white;
}
.Middle-list div i{
    display:block;
    margin-top:2rem;
    margin-left: 46%;
    height: 2rem;
    width: 2rem;
    background:url(http://img5.imgtn.bdimg.com/it/u=2964524839,3308873468&fm=200&gp=0.jpg) no-repeat center center;
    background-size: 100% auto;
}
.Middle-list div span{
    width: 100%;
    height: 2rem;
    line-height: 4rem;
}
/*右上角搜索按钮*/
.header_top a.search{
    background:url(../img/icon_search.png) no-repeat center center;
    background-size:1.8rem auto;
}
.body{
    background:#efeff4;
}

header {
    width: 100%;
    height: 6.4rem;
    padding-top: 0rem;
    background-color: #8dd652;
    position: fixed;
    z-index: 104;
    box-sizing: content-box;
}