@charset "utf-8";
html{
	background:white;
}
html,body{
	height:100%;
}
.main{
	width:100%;
	height:calc(100% - 9.4rem);
	overflow:hidden;
}
.curtainImg,.curtainBtn{
	width:100%;
	height:55%;
	text-align:center;
}
.curtainImg img{
	position:relative;
	left:50%;
	top:50%;
	display:block;
	width:25rem;
	height:auto;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.curtainBtn{
	box-sizing: border-box;
	padding:0 6%;
	height:45%;
	background:#f3f3f3;
}
.curtainBtn span{
	position:relative;
	top:50%;
	left:0;
	display:block;
	float:left;
	width:33.333333333333333333%;
	height:8rem;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.curtainBtn span img{
	display:inline-block;
	width:8rem;
	height:auto;
}
.switchImg{
	width:100%;
	height:40%;
	text-align:center;
	background:#fff;
}
.switchImg img{
	position:relative;
	left:50%;
	top:50%;
	display:block;
	width:25rem;
	height:auto;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.switchOther{
	width:100%;
	height:60%;
	padding-top:4%;
	background:#f3f3f3;
}
.switchDescribe{
	padding:0 8%;
	width:84%;
	max-height:40%;
	text-align:left;
	font-size:1.3rem;
	color:#333;
}
.switchBtn{
	width:100%;
	max-height:60%;
	text-align:center;
}
.switchBtn img{
	display:inline-block;
	width:8rem;
	height:auto;
	margin-top:7rem;
}
/*模式切换页面*/
.main ul{
    width:100%;
    overflow:hidden;
    padding-top:2rem;
}
.main ul li{
    padding: 0 4% 0 10%;
    width:86%;
    height:4rem;
    line-height:4rem;
    background:#fff;
    border-bottom:1px solid #ddd;
}
.main ul li span,.main ul li i{
    display:block;
}
.main ul li span{
    float:left;
    max-width:90%;
    height:4rem;
    line-height:4rem;
    font-size:1.4rem;
    color:#333;
}
.main ul li i{
    float:right;
    width:10%;
    height:4rem;
    background:none;
}
.main ul li i.yes{
    background:url(../fonts/icon_5.png) no-repeat center center;
    background-size:2.2rem auto;
}
.main ul li i.right{
	float:right;
	width:1rem;
	background:url(../fonts/icon_right.png) no-repeat right center;
	background-size:0.9rem auto;
}
.main ul li img {
	float: left;
	margin-top: 0.8rem;
	width: 2.4rem;
	height: 2.4rem;
	margin-left: -2rem;
}
/*超时提醒*/
.overTime{
	display:none;
	position:fixed;
	left:15%;
	bottom:7rem;
	width:62%;
	min-height:2.4rem;
	line-height:2.4rem;
	padding:0.7rem 4%;
	text-align:center;
	background:rgba(0,0,0,0.4);
	font-size:1.4rem;
	color:#fff;
	border-radius:3px;
}

/*正在保存*/
.saveToast{
	position:fixed;
	left:0;
	top:6.4rem;
	width:100%;
	height:calc(100% - 6.4rem);
	z-index:555;
}
.saveToast div{
	position:absolute;
	left:25%;
	top:50%;
	width:50%;
	height:9rem;
	text-align:center;
	background:rgba(0,0,0,0.4);
	border-radius:5px;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
}
.saveToast div i{
	display:inline-block;
	height:6rem;
	line-height:6rem;
	font-size:1.4rem;
	color:#fff;
}
.saveToast div p{
	color:#fff;
}
@-webkit-keyframes rotate{
	from{
		-webkit-transform: rotateZ(360deg);
		transform: rotateZ(360deg);
	}
	to{
		-webkit-transform: rotateZ(0);
		transform: rotateZ(0);
	}
}
@keyframes rotate{
	from{
		-webkit-transform: rotateZ(360deg);
		transform: rotateZ(360deg);
	}
	to{
		-webkit-transform: rotateZ(0);
		transform: rotateZ(0);
	}
}
.saveToast div i em{
	display:block;
	float:left;
	width:2rem;
	height:6rem;
	margin-right:1rem;
	background:url(../fonts/icon_loading.png) no-repeat center center;
	background-size: 2rem auto;
}
.saveToast div i em.rotate{
	-webkit-animation: rotate 0.7s linear infinite;
	animation: rotate 0.7s linear infinite;
}
/*---------------------rename重命名-------------------*/
.mask_name{
	display:none;
	position:fixed;
	left:0;
	top:6.4rem;
	width:100%;
	height:calc(100% - 6.4rem);
	background:rgba(0,0,0,.4);
	z-index:666;
}
.device_rename{
	position:absolute;
	left:20%;
	top:35%;
	width:60%;
	overflow:hidden;
	border-radius:5px;
	background:#fff;
	z-index:777;
}
.device_rename h5{
	display: block;
	width: 92%;
	height: 4.8rem;
	line-height: 2.4rem;
	font-weight: 500;
	font-size: 1.5rem;
	color: #333;
}
.device_rename input{
	margin:1rem 8%;
	padding:0.5rem 4%;
	width:76%;
	height:3rem;
	border:1px solid #ddd;
	font-size:1.4rem;
	color:#666;
	border-radius:5px;
}
.device_rename .device_btn{
	width:100%;
	height:4rem;
	margin-top:1rem;
	border-top:1px solid #ddd;
}
.device_rename .device_btn span{
	float:left;
	box-sizing: border-box;
	display:block;
	width:50%;
	height:3.9rem;
	line-height:3.9rem;
	text-align:center;
	border-right:1px solid #ddd;
	font-size:1.5rem;
	color:#333;
}
.device_rename .device_btn span:nth-child(2){
	border:0;
}

/*---------------------弹出菜单-------------------*/
.menuPopup {
	position:fixed;
	left:0;
	top:6.4rem;
	width:100%;
	height:calc(100% - 6.4rem);
	z-index:555;
	background-color: rgba(0,0,0,0.3);
}
.menuPopup div {
	position:absolute;
	left:3%;
	bottom:3%;
	width:100%;
}
.menuPopup div li{
	width:94%;
	height:4.5rem;
	text-align:center;
	line-height: 4.5rem;
	font-size: 2rem;
	background-color: white;
	border-bottom: 1px solid #656565;
}
.menuPopup div li:nth-child(n+4){
	border-bottom: none;
}
.menuPopup div li:nth-child(5){
	margin-top: 25px;
}
.menuPopup div li em {
	background: url("../fonts/icon_switchmode.png") no-repeat;
	width: 1.5rem;
	height: 1.5rem;
	display: inline-block;
	background-size: 100% 100%;
	margin-left: 0.5rem;
}


/*正在保存toast*/
.comToast{
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 60%;
	text-align:center;
	overflow: hidden;
	text-align: center;
	padding-top: 1rem;
	padding-bottom:1rem;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.5);
	z-index: 999;
	border-radius: 5px;
}
.comToast i{
	display:inline-block;
	height:2rem;
	line-height:2rem;
	font-size:1.4rem;
	color:#fff;
}
@-webkit-keyframes rotate{
	from{
		-webkit-transform: rotateZ(360deg);
		transform: rotateZ(360deg);
	}
	to{
		-webkit-transform: rotateZ(0);
		transform: rotateZ(0);
	}
}
@keyframes rotate{
	from{
		-webkit-transform: rotateZ(360deg);
		transform: rotateZ(360deg);
	}
	to{
		-webkit-transform: rotateZ(0);
		transform: rotateZ(0);
	}
}
.comToast i em{
	display:block;
	float:left;
	width:2rem;
	height:2rem;
	margin-right:1rem;
	background:url(../fonts/icon_toast_loading.png) center center;
	background-size: 2rem auto;
}
.comToast i em.rotate{
	-webkit-animation: rotate 0.7s linear infinite;
	animation: rotate 0.7s linear infinite;
}

.curtainDiv {
	border-radius:5px;
	border: 1px solid #7DD141;
	margin-left: 20%;
	width: 60%;
	height: 3rem;
	background-color: white;
	text-align: center;
	margin-top: 2rem;
}

.curtainButton{
	float: left;
	width: 50%;
	height:3rem;
	line-height: 3rem;
	background: #7DD141;
	color: white;
}
