@charset "utf-8";
@charset "utf-8";
body, button, select, textarea, input, label, option, fieldset, legend{font-family: "微软雅黑",Tahoma,Verdana;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, button, p, blockquote, th, td{margin: 0;padding: 0;}
textarea{resize: none}
textarea, input{outline: none;}
.clear{height:1px;overflow:hidden;clear:both;}
a,img{border:0;}
a{color: #666;text-decoration: none;}
li{list-style-type:none;}
i,em{font-style: normal;}
.fl{float:left;}
.fr{float:right;}
.ds{display:block;}
.hid{overflow:hidden;}
.clearfix{*zoom:1}
.clearfix:after{display:block;visibility:hidden;clear:both;height:0;content:'.';font-size:0}
html{background:url(../fonts/bg_1.png) repeat-x left top;background-size:100% auto;font-size:1.2rem;width: 100%;height: 100%;}
.shadow{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(0,0,0,0.3);
	top:6.4rem
}
/*公用头部*/
header{
	width:100%;
	overflow: hidden;
}
.header_top{
	padding-top:2rem;
	width:100%;
	height:4.4rem;
}
.header_top a{
	display: block;
	float:left;
	width:13.7%;
	height:4.4rem;
}
.header_top a:nth-child(2){
	width:72.6%;
	text-align:center;
	line-height:4.4rem;
	font-size:1.6rem;
	color:#fff;
	-webkit-tap-highlight-color:rgba(255,0,0,0);
}
.header_top a:first-child{
	background:url(../fonts/icon_back_1.png) no-repeat center center;
	background-size:2.2rem auto;
}
.header_top a:nth-child(3){
	text-align:center;
	line-height:4.4rem;
	font-size:1.4rem;
	color:#fff;
}
.header_top a.more{
	background:url(../fonts/icon_more.png) no-repeat center center;
	background-size:1.8rem auto;
}

/*底部悬浮固定*/
.fix_bottom{
	position:fixed;
	bottom:5%;
	left:4%;
	width:92%;
	overflow:hidden;
}
.fix_bottom a{
	display:block;
	width:100%;
	height:5rem;
	line-height:5rem;
	text-align:center;
	font-size:1.6rem;
	background:#8dd652;
	border-radius: 5px;
	color:#fff;
}

.alarmImg{
	width: 100%;
	text-align: center;
	margin-top: 6rem;
}
.alarmImg div{
	display: inline-block;
	height: 21.3rem;
	width: 21.3rem;
}
.alarmImg img{
	width: 100%;
	height: auto;
}
.alarmImg span{
	display: inline-block;
	width: 100%;
	text-align: center;
	position: relative;
	top: -5rem;
	font-size:1.5rem;
	color:#fff;
}
.alarmImg a{
	display: none;
	position: absolute;
	border-radius:32rem ;
}
.alarmImg a:nth-child(1){
	left: -5.5rem;
	top: -5.5rem;
	width:32.3rem;
	height:32.3rem;
	border: 3px solid rgba(299,299,299,0.1);
}
.alarmImg a:nth-child(2){
	left: -3.5rem;
	top: -3.5rem;
	width:28.3rem;
	height:28.3rem;
	border: 3px solid rgba(299,299,299,0.2);
}
.alarmImg a:nth-child(3){
	left: -2rem;
	top: -2rem;
	width:25.3rem;
	height:25.3rem;
	border: 3px solid rgba(299,299,299,0.3);
	/*background: url(../fonts/icon_circle.png) no-repeat center center;background-size:100% auto;*/
}

.alarmBtn{
	position: fixed;
	width: 70%;
	left: 15%;
	top: 70%;
}
.alarmBtn div:nth-child(1){
	float: left;
	width: 25%;
	height: auto;
}
.alarmBtn div:nth-child(2){
	float: right;
	width: 25%;
	height: auto;
}
.alarmBtn img{
	width: 100%;
	height: auto;
}
.alarmBtn span{
	display: inline-block;
   text-align: center;
   width: 100%;
   font-size: 1.6rem;
   color: #585858;
}
.mask_layer{
	display:none;
	position:absolute;
	z-index:1000;
	left:0;
	top:6.4rem;
	width:100%;
	height:calc(100% - 6.4rem);
	text-align:center;
	background:rgba(0,0,0,0.7)
}
.mask_layer i{
	display:inline-block;
	width:8rem;
	height:8rem;
	margin-top:15rem;
	background:url(../fonts/icon_new.png) no-repeat center center;
	background-size:8rem auto;
}
.mask_layer span{
	display:block;
	width:100%;
	height:5rem;
	line-height:5rem;
	text-align:center;
	font-size:1.6rem;
	color:#fff;
}
