@charset "utf-8";

.content{
    position: absolute;
    width:100%;
    height:calc(100% - 6.4rem);
    overflow:hidden;
	display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
/*场景*/
.theTwo{
    margin-top: 3rem;
}
.theThree{
    margin-top: 3rem;
}
.theScene div{
    width:10rem;
    height:10rem;
}
.theScene i{
    width:10rem;
    height:10rem;
}
.theScene span{
    display:block;
    text-align:center;
    line-height:3.2rem;
    color:#999;
    font-size:1.6rem;
}
.emptyView{
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    display: none;
}

.emptyView span{
    margin-top: 2rem;
    display:block;
    width: auto;
    /*text-align:center;*/
    line-height:4.2rem;
    color:#999;
    font-size:1.4rem;
}

.emptyView img{
    display:inline-block;
    width:9rem;
    height:auto;
}
