.mainListView{
    margin-top:7.4rem;
}

.mainListView ul{
    height: 4.0rem;
}

.mainListView ul li{
    /*border:1px solid black;*/
    background: white;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.mainListView ul li a{
    margin-left: 3rem;
    font-size: 1.5rem;
    line-height: 4.0rem;
}

.mainListView ul li a:nth-child(1){
}

.mainListView ul li a:nth-child(2){
    right: 5rem;
    position:absolute;
}

.mainListView ul li i{
    right: 2rem;
    position:absolute;
    margin-top: 0.75rem;
    width: 0.8rem;
    height: 1.56rem;
    background: url(../fonts/icon_right.png) no-repeat center center;
    background-size:100% auto;
}
.mainListView ul li:nth-child(1){
}

/*switch按钮---start*/
.mainListView ul li dd{
    width:5rem;
    height:4.0rem;
    float: right;
    margin: 0;
    padding: 0;
    display: block;
    -webkit-margin-start: 40px;
}

.mainListView ul li dd i{
    position: relative;
    display: block;
    width: 100%;
    height: 2.5rem;
    border-radius: 2.5rem;
    background: #ccc;
}
.mainListView ul li dd i.on{
    background: #8dd652;
}


.mainListView ul li dd i.on em{
    left: 3rem
}

.mainListView ul li dd i.off{
    background: #ccc;
}


.mainListView ul li dd i.off em{
    left: 0.5rem;
}

.mainListView ul li dd i em{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #fff;
}
/*switch按钮---end*/

/*正在保存*/
.saveToast{
    position:fixed;
    left:0;
    top:6.4rem;
    width:100%;
    height:calc(100% - 6.4rem);
    z-index:555;
    background:rgba(0,0,0,0.4);
}
.saveToast div{
    position:absolute;
    left:25%;
    top:50%;
    width:50%;
    height:9rem;
    text-align:center;
    /*background:rgba(0,0,0,0.4);*/
    border-radius:5px;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
}
.saveToast div i{
    display:inline-block;
    height:6rem;
    line-height:6rem;
    font-size:1.4rem;
    color:#fff;
}
.saveToast div p{
    color:#fff;
}
@-webkit-keyframes rotate{
    from{
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
    to{
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0);
    }
}
@keyframes rotate{
    from{
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
    to{
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0);
    }
}
.saveToast div i em{
    display:block;
    float:left;
    width:2rem;
    height:6rem;
    margin-right:1rem;
    background:url(../img/icon_loading.png) no-repeat center center;
    background-size: 2rem auto;
}
.saveToast div i em.rotate{
    -webkit-animation: rotate 0.7s linear infinite;
    animation: rotate 0.7s linear infinite;
}