@charset "utf-8";
body, button, select, textarea, input, label, option, fieldset, legend{font-family: "微软雅黑",Tahoma,Verdana;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, button, p, blockquote, th, td{margin: 0;padding: 0;}
textarea{resize: none}
textarea, input{outline: none;}
.clear{height:1px;overflow:hidden;clear:both;}
a,img{border:0;}
a{color: #666;text-decoration: none;}
li{list-style-type:none;}
i,em{font-style: normal;}
.fl{float:left;}
.fr{float:right;}
.ds{display:block;}
.hid{overflow:hidden;}
.clearfix{*zoom:1}
.clearfix:after{display:block;visibility:hidden;clear:both;height:0;content:'.';font-size:0}
html,body{width:100%;height:100%;}

/*header*/
header{
    width:100%;
    background:#8dd652;
    overflow: hidden;
}
.header_top{
    padding-top:2rem;
    width:100%;
    height:4.4rem;
}
header a{
	float:left;
	display:block;
	width:73.2%;
	height:4.4rem;
	text-align:center;
	line-height:4.4rem;
	font-size:1.7rem;
	color:#fff;
}
header a:nth-child(1),header a:nth-child(3){
	width:13.4%;
}
header a:nth-child(1){
	background:url(../fonts/icon_back_1.png) no-repeat center center;
	background-size:2.2rem auto;
}
header a:nth-child(3){
	background:url(../fonts/icon_more.png) no-repeat center center;
	background-size:2rem auto;
}
header a:nth-child(2){
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-tap-highlight-color: transparent;
}
header a.save{
	font-size:1.4rem;
	background:none;
}


/*遮罩层*/
.mask_layer{
	display:none;
	position:absolute;
	left:0;
	top:6.4rem;
	z-index:1000;
	width:100%;
	height:calc(100% - 6.4rem);
	z-index:100;
	text-align:center;
	background:rgba(0,0,0,0.7)
}
.mask_layer i{
	display:inline-block;
	width:8rem;
	height:8rem;
	margin-top:15rem;
	background:url(../fonts/icon_new.png) no-repeat center center;
	background-size:8rem auto;
}
.mask_layer span{
	display:block;
	width:100%;
	height:5rem;
	line-height:5rem;
	text-align:center;
	font-size:1.6rem;
	color:#fff;
}

/*toast提示*/
.send_toast{
	display:none;
	position:fixed;
	left:20%;
	top:50%;
	z-index:1000;
	width:60%;
	height:3rem;
	line-height:3rem;
	text-align:center;
	background:rgba(0,0,0,.3);
	font-size:1.4rem;
	color:#fff;
	border-radius: 4rem;
}

/**********************************************************************
 *                              重写 picker样式
 **********************************************************************/
.mui-poppicker-body{
	height:20rem;
	clear: both;
	border-top: solid 0px #ddd;
}
.mui-poppicker{
	 border-top: solid 0px #ccc;
	background-color: #F7F7F7;
}
.mui-poppicker-clear{
	overflow: hidden;
	text-align: center;
	position: absolute;
	left: 50%;
	padding: 3px 0 0 0;
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);
	transform: translate(-50%);
	color: #373737;
	height: inherit;
	line-height: inherit;
	font-size: 1.6rem;
}

.mui-backdrop{
	background-color:transparent;
}
.mui-btn {
	background: transparent;
	border: none;
	color: #8dd652;
	font-size: 1.6rem!important;
}
.mui-picker{
	background:#fff;
}

.mui-pciker-rule{
	font-size: 1.8rem!important;
}