@charset "utf-8";

html{
    background:white;
}
html,body{
    position: absolute;
    height:100%;
    width: 100%;
}

.emptyView{
    position:absolute;
    top:50%;
    display:block;
    width:100%;
    text-align: center;
    height:22.5rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.emptyView span{
    margin-top: 2rem;
    display:block;
    width: auto;
    /*text-align:center;*/
    line-height:4.2rem;
    color:#999;
    font-size:1.4rem;
}

.emptyView img{
    display:inline-block;
    width:9rem;
    height:auto;
}

