@charset "utf-8";
body,html{
    width: 100%;
    height: 100%;
    background: none;
    overflow:hidden;
    background-color:#f1f4f8!important;
}
header{
    height:auto;
    overflow:hidden;
    padding-top:0!important;
}
/*==========================================子设备状态============================================*/
.deviceMain{
    margin-top:6.4rem;
    overflow:hidden;
}
.childDeviceList{
    padding-top:2rem;
    width:100%;
    overflow:hidden;
}
.childDeviceList li{
    width:100%;
    height:4.2rem;
    padding:0 4%;
    border-top:1px solid #ddd;
    background:#fff;
}
.childDeviceList li:last-child{
    border-bottom:1px solid #ddd;
}
.childDeviceList li span{
    display:block;
    float:left;
    height:4.2rem;
    line-height:4.2rem;
}
.childDeviceList li span:first-child{
    width:70%;
    font-size:1.7rem;
    color:#000;
}
.childDeviceList li span:last-child{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width:30%;
    padding-right:2rem;
    background:url(../fonts/icon_right.png) no-repeat right center;
    background-size:0.8rem auto;
}
.childDeviceList li span i{
    display:block;
    float:left;
    width:50%;
    height:4.2rem;
}
.childDeviceList li span[data-status=disarmed] i:first-child{
    background:url(../fonts/icon_pre_disarmed.png) no-repeat right center;
    background-size:1.9rem auto;
}
.childDeviceList li span[data-status=disarmed] i:last-child{
    background:url(../fonts/icon_not_fortify.png) no-repeat right center;
    background-size:1.9rem auto;
}
.childDeviceList li span[data-status=fortify] i:first-child{
    background:url(../fonts/icon_not_disarmed.png) no-repeat right center;
    background-size:1.9rem auto;
}
.childDeviceList li span[data-status=fortify] i:last-child{
    background:url(../fonts/icon_pre_fortify.png) no-repeat right center;
    background-size:1.9rem auto;
}
.devicePs{
    margin-top:1rem;
    line-height:3rem;
    padding-left:4%;
    font-size:1.3rem;
    color:#999;
}

/*==========================================告警消息============================================*/
.alarmMessage{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    height:46%;
    border-top:1px solid #ddd;
    background:#fff;
}
.alarmTitle{
    width:100%;
    height:4rem;
    line-height:4rem;
    margin-top:0.5rem;
    padding-left:13%;
    text-align:center;
}
.alarmTitle strong{
    display:block;
    float:left;
    width:85%;
    text-align:center;
    font-size:1.7rem;
    color:#000;
}
.alarmTitle span{
    display:block;
    float:left;
    width:15%;
    text-align:left;
    font-size:1.5rem;
    color:#8dd652;
}
.alarmList{
    width:100%;
    overflow:hidden;
    padding:0 4%;
}
.alarmList li{
    width:100%;
    height:2.9rem;
    line-height:2.9rem;
}
.alarmList li.notAlarm{
    display:block;
    width:100%;
    height:15rem;
    line-height:15rem;
    text-align:center;
    font-size:1.4rem;
    color:#666;
}
.alarmList li span{
    display:block;
    float:left;
    height:2.3rem;
    line-height:2.3rem;
    font-size:1.4rem;
    color:#666666;
}
.alarmList li span:first-child{
    width:65%;
    text-align:left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.alarmList li span:last-child{
    width:35%;
    text-align:right;
}
/*---------------------rename重命名-------------------*/
.mask_name{
    display:none;
    position:fixed;
    left:0;
    top:6.4rem;
    width:100%;
    height:calc(100% - 6.4rem);
    background:rgba(0,0,0,.4);
    z-index:666;
}
.device_rename{
    position:absolute;
    left:20%;
    top:35%;
    width:60%;
    overflow:hidden;
    border-radius:5px;
    background:#fff;
    z-index:777;
}
.device_rename h5{
    display:block;
    width:100%;
    height:3rem;
    line-height:3rem;
    padding-top:0.5rem;
    text-align:center;
    font-weight: 500;
    font-size: 1.5rem;
    color:#333;
}
.device_rename input{
    margin:1rem 8%;
    padding:0.5rem 4% !important;
    width:84%!important;
    height:3rem!important;
    line-height: 3rem!important;
    border:1px solid #ddd;
    font-size:1.4rem;
    color:#666;
    border-radius:5px;
}
.device_rename .device_btn{
    width:100%;
    height:4rem;
    margin-top:1rem;
    border-top:1px solid #ddd;
}
.device_rename .device_btn span{
    float:left;
    box-sizing: border-box;
    display:block;
    width:50%;
    height:3.9rem;
    line-height:3.9rem;
    text-align:center;
    border-right:1px solid #ddd;
    font-size:1.5rem;
    color:#333;
}
.device_rename .device_btn span:nth-child(2){
    border:0;
}
/*==============================加载中==================================*/
.saveToast{
    position:fixed;
    left:0;
    top:6.4rem;
    width:100%;
    height:calc(100% - 6.4rem);
    z-index:555;
}
.saveToast div{
    position:absolute;
    left:25%;
    top:50%;
    width:50%;
    height:9rem;
    text-align:center;
    background:rgba(0,0,0,0.4);
    border-radius:5px;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
}
.saveToast div i{
    display:inline-block;
    height:6rem;
    line-height:6rem;
    font-size:1.4rem;
    color:#fff;
}
.saveToast div p{
    color:#fff;
    font-size:1.4rem;
}
@-webkit-keyframes rotate{
    from{
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
    to{
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0);
    }
}
@keyframes rotate{
    from{
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
    to{
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0);
    }
}
.saveToast div i em{
    display:block;
    float:left;
    width:2rem;
    height:6rem;
    margin-right:1rem;
    background:url(../fonts/icon_loading.png) no-repeat center center;
    background-size: 2rem auto;
}
.saveToast div i em.rotate{
    -webkit-animation: rotate 0.7s linear infinite;
    animation: rotate 0.7s linear infinite;
}
/*=============================================子设备设置页===========================================*/
.childDevice{
    margin-top:6.4rem;
    width:100%;
    overflow:hidden;
}
.childDevice ul{
    width:100%;
    overflow:hidden;
    padding-top:2rem;
}
.childDevice ul li{
    width:92%;
    height:4rem;
    padding:0 4%;
    border-top:1px solid #ddd;
    background:#fff;
}
.childDevice ul li:last-child{
    border-bottom:1px solid #ddd;
}
.childDevice ul li .child{
    float:left;
    width:50%;
    height:4rem;
    line-height:4rem;
    font-size: 1.7rem;
    color: #000;
}
.childDevice ul li .child:first-child{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.childDevice ul li .child span{
    display:block;
    float:right;
    height:4rem;
}
.childDevice ul li .child span:last-child{
    width:50%;
    text-align:right;
    font-size:1.4rem;
    color:#8dd652;
}
.childDevice ul li .child span:first-child{
    width:30%;
}
.childDevice ul li .child span i{
    position:relative;
    display:block;
    float:right;
    width:4rem;
    height:2rem;
    margin-top:1rem;
    border-radius:2rem;
    background:#8dd652;
}
.childDevice ul li .child span i em{
    position:absolute;
    left:0.3rem;
    top:0.3rem;
    display:block;
    width:1.4rem;
    height:1.4rem;
    border-radius:50%;
    background:#fff;
}
.childDevice ul li .child span i[data-switch=on]{
    background:#8dd652;
}
.childDevice ul li .child span i[data-switch=off]{
    background:#aeb8bb;
}
.childDevice ul li .child span i[data-switch=on] em{
    left:2.3rem;
}
.childDevice ul li .child span i[data-switch=off] em{
    left:0.3rem;
}
