.emptyView{
    position:absolute;
    top:50%;
    display:block;
    width:100%;
    text-align: center;
    height:225px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.emptyView span{
    margin-top: 20px;
    display:block;
    width: auto;
    /*text-align:center;*/
    line-height:42px;
    color:#999;
    font-size:14px;
}
.emptyView img{
    display:inline-block;
    width:90px;
    height:auto;
}